{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}

<div>
    <div class="container mx-auto">
         <div  class="grid grid-cols-5 gap-4">
            <h1  class="mt-5 text-4x1 font-bold text-red-500">About Us </h1>
     <p class="mt-4 text-ig leading-relaxed text-pink-700 mx-auto max-w-4x1"> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. 
    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form,
     accompanied by English versions from the 1914 translation by H. Rackham. </p>
         </div>
    </div>
</div>


{% endblock %}

