{% extends "base.html" %}

{% block title %} Blog {% endblock %}

{% block content %}

<div class="flex items-center justify-between mb-6 bg-gray-100 p-4 rounded-lg">
    <h1 class="text-3xl font-bold">Blog Posts</h1>
    <button class="bg-indigo-600 text-white py-3 px-6 rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-indigo-500 focus:ring-opacity-50">
        <a href="/add_blog">Add Blog</a>
    </button>
</div>

<h1 class="text-3xl font-bold mb-6">Blog Posts</h1>
<div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
    {% for blog in blogs %}
        <h2 class="text-xl font-bold mb-2">{{ blog.title }}</h2>
        <img src="{{blog.image.url}}" alt="Blog Image" class="image" width="300"></a>
         <p class="text-gray-700 mb-4">{{ blog.content }}</p>
        <p class="text-sm text-gray-600">Is Published: {{ blog.is_published }}</p>
        <p class="text-sm text-gray-600">By {{ blog.author }} on {{ blog.date_posted }}</p>
        <p class="text-sm text-gray-600">Last Updated {{ blog.date_posted }}</p>

    {% endfor %}
</div>
    

{% endblock %}
